/* Estilos generales */
body {
  background-image: url('/fondo3.jpg');
  background-attachment: fixed; /* Hace que el fondo sea estático */
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  cursor: url('/cuchillo.png'), auto;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  align-items: center;
}

#king {
  width: 450px; /* Puedes ajustar este valor según tus necesidades */
  height: auto; /* Esto mantiene la proporción original de la imagen */
  padding-bottom: 50px;
}

.card-body {
  text-align: center;
  display: flex; /* Utiliza flexbox para centrar verticalmente */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  flex-direction: column; /* Apila los elementos en columnas */
}

.card-img-top {
  width: 80%; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantiene la proporción original */
  padding-top: 25px;
  padding-left: 60px;
}

.search-container {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
}

.search-container input {
  flex-grow: 1; /* El campo de entrada crecerá para ocupar todo el espacio restante */
  height: 40px; /* Establece la altura del campo de entrada al 100% del contenedor */
  margin-top: 10px;
  border: none; /* Quita el borde del campo de entrada */
}

/* Estilos para los botones */
.sort-button {
  background-color: #8b0000; /* Rojo carmesí oscuro */
  color: #ffffff; /* Blanco */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.sort-button:hover {
  background-color: #b30000; /* Rojo carmesí un poco más claro */
}

/* Estilos para los libros */
.card {
  background-color: #2d2d2d; /* Gris oscuro */
  color: #ffffff; /* Blanco */
  border: none;
  width: 870px; /* Ancho fijo para cada tarjeta */
  margin: 10px;
  transition: transform 0.3s; /* Agrega una transición suave al transformar */
}

.card:hover {
  transform: scale(1.08); /* Aumenta ligeramente el tamaño al pasar el cursor */
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5); /* Agrega una sombra roja */
}

.card-title {
  color: #ffffff; /* Blanco */
}

.card-body h6 {
  color: #ffffff; /* Blanco */
}

.card-text {
  color: #ffffff; /* Blanco */
}

.search-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px auto;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #2d2d2d; /* Cambiar color de fondo */
  color: #fff; /* Cambiar color del texto */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #b30000; /* Cambiar color de fondo al pasar el ratón */
  color: #fff; /* Cambiar color del texto del enlace activo */
}

.page-item.active .page-link {
  background-color: #b30000; /* Cambiar color de fondo del enlace activo */
  color: #fff; /* Cambiar color del texto del enlace activo */
  border-color: #8b0000;
}

.pagination {
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25); /* Cambia el color a rojo */
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.modal-content h5 {
  margin-top: 0;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content button {
  background-color: #8b0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #b30000;
}
